<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
    <script src="/js/application.js"></script>

    <title>Le Tour de Bars</title>
</head>

<body>
    <header role="banner" class="mar-t-5 pad-t-2 pad-b-4 pad-s-1 wrap-float bg-white">
        <div class="max-w-700 center wrap-float">
            <nav class="clearfix mar-b-1">
                <ul class="no-bullets no-margin no-padding right">
                    <li class="pipe-separate t-light-green left"><a href="/" class='home-anchor'>Home</a></li>
                    {{#unless userLogged}}
                    <li class="pipe-separate t-light-green left"><a href="/user/new" class='sign-up-anchor'>Sign Up</a>
                    </li>
                    <li class="pipe-separate t-light-green left"><a href="/user/login" class="sign-in-anchor">Sign
                            In</a></li>
                    {{/unless}}
                    {{#if userLogged}}
                    <li class="pipe-separate t-light-green left"><a href="/user/logout">Logout</a></li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </header>
    <div class="bg-dk-green pad-t-2 pad-s-1 pad-b-8 mar-b-16 c-white">
        <div class="max-w-700 center">
            {{{body}}}
        </div>
    </div>
</body>

</html>